.articles__wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 16px;
}

@media screen and (max-width: 767px) {
  .articles__wrapper {
    grid-template-columns: repeat(2, max-content);
    grid-gap: 16px;
  }
}

@media screen and (max-width: 640px) {
  .articles__wrapper {
    grid-template-columns: repeat(1, max-content);
  }
}
