@import url(./_theme_white/header__logo_theme_white.css);

.header__logo {
  margin: 0;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: Roboto Slab, serif;
}
