.card__description {
  max-height: 110px;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #1a1b22;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1280px) {
  .card__description {

  }
}
