.header__button.header__button_theme_white {
  fill: #1a1b22;
  color: #1a1b22;
  background-color: #fff;
  border: 1px solid #1a1b22;
}

.header__button.header__button_theme_white:hover {
  color: #fff;
  fill: #fff;
  background-color: #1a1b22;
}
