.cards__wrapper {
  margin-bottom: 64px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
  .cards__wrapper {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .cards__wrapper {
    margin-bottom: 16px;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 16px;
  }
}

@media screen and (max-width: 640px) {
  .cards__wrapper {
    grid-template-columns: repeat(1, max-content);
  }
}
