.footer__container {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    align-items: unset;
    flex-direction: column-reverse;
  }
}
