.card__about {
  margin: 20px 24px 24px;
  padding-bottom: 35px;
  flex-grow: 1;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .card__about {
    margin: 20px 20px;
  }
}
