.hat__keywords {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

@media screen and (max-width: 768px) {
  .hat__keywords {
    margin: 0 0 16px;
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .hat__keywords {
    font-size: 18px;
  }
}
