@import url(./__ellipse/loader__ellipse.css);
@import url(./__description/loader__description.css);

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
