.cover__title {
  max-width: 608px;
  margin: 0 0 32px;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #fff;
  font-family: Roboto Slab, serif;
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 385px;
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 16px;
  }
}
