@import url(./_is-open/header__meanu-bar_is-open.css);

.header__menu-bar {
  top: 0;
  left: 0;
  width: 100%;
  padding: 56px 0 24px;
  background-color: #1a1b22;
  transform: translateY(-100%);
  transition: .2s;
  display: none;
  position: absolute;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.header__menu-bar::after {
  content: '';
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: .2s;
  background-color: #1a1b2250;
  position: fixed;
}

@media screen and (max-width: 375px) {
  .header__menu-bar {
    padding: 80px 16px 24px 16px;
    align-items: unset;
  }
}
