.header__link.header__link_theme_white {
  color: #1a1b22;
}

.header__link.header__link_theme_white:not(.header__link_is-active):hover {
  color: #1a1b2270;
}

@media screen and (max-width: 640px) {
  .header__link.header__link_theme_white {
    color: #fff;
  }

  .header__link.header__link_theme_white:not(.header__link_is-active):hover {
    color: #fff;
  }
}
