.cover__search {
  width: 608px;
  height: 64px;
  padding: 0 0 0 24px;
  color: #1a1b22;
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  box-sizing: border-box;
  outline: none;
}

.cover__search::placeholder {
  color: #b6bcbf;
}
