.header__link.header__link_is-active {
  color: #fff;
  position: relative;
}

.header__link.header__link_is-active::before {
  content: '';
  left: 0;
  bottom: -44px;
  width: 100%;
  position: absolute;
  border-bottom: 3px solid #fff;
}

.header__link_theme_white.header__link_is-active::before {
  border-bottom: 3px solid #1a1b22;
}

@media screen and (max-width: 768px) {
  .header__link.header__link_is-active::before {
    bottom: -25px;
  }
}

@media screen and (max-width: 640px) {
  .header__link.header__link_is-active::before {
    left: 0;
    bottom: 0;
    border-bottom: 0 solid transparent;
  }
}
