.header__button {
  padding: 12px 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 100px;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}
