.label.label_type_not-available::after {
  content: 'Войдите, чтобы сохранять статьи';
  top: 0;
  left: -187px;
  height: 40px;
  padding: 0 13px;
  font-size: 10px;
  font-weight: 500;
  opacity: 0;
  color: #000;
  transition: .2s;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  position: absolute;
  visibility: hidden;
  align-items: center;
  justify-content: center;
}

.label.label_type_not-available:hover::after {
  opacity: 1;
  visibility: visible;
}
